@keyframes pulse-animation-primary {
  0% {
    box-shadow: 0 0 0 0px #1c578a55;
  }
  100% {
    box-shadow: 0 0 0 20px #1c578a00;
  }
}

.pulse-primary {
  animation: pulse-animation-primary 2s 5;
}

.pulse {
  animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
  }
}