<?php
return [
    'service_manager' => [
        'services' => [
            /**
            * @var array of all LDAP configuration, hosts and baseDN is required
            */
            'ldap-options' => [
                '1'=>[
                    'host'            => 'host-of-AD.hc-sc.gc.ca',
                    'baseDn'          => 'OU=User Accounts,OU=Accounts,OU=Health Canada,DC=ad,DC=hc-sc,DC=gc,DC=ca',
                    //'username'        => '***** removed *****',
                    //'password'        => '***** removed *****',
                    //'bindRequiresDn'  => true,
                    //'useSsl'          =>true,
                    //'port'            => 389,
                ],
                '...n'=>[
                    'host'            => 'host-of-AD.hc-sc.gc.ca',
                    'baseDn'          => 'OU=HC-SC,O=GC,C=CA',
                    //'username'        => '***** removed *****',
                    //'password'        => '***** removed *****',
                    //'bindRequiresDn'  => true,
                    //'useSsl'          =>true,
                    //'port'            => 389,
                ],
            ],
        ],
    ],
];
