<?php
/**
* This file keeps the host, username and password for the smtp server after ETI
*/
return array(
    'service_manager' => array(
        'services' => array(
            'smtp-credentials'=>array(
                'default'=>array(
                    "host"      =>'smtp.email-courriel.canada.ca',
                    'username'  =>'hc.web1-web1.sc@canada.ca',
                    'password'  =>'',
                    'class'     => 'plain',
                    'ssl'       => 'tls',
                    'port'      => 587,
                ),
                'web2'=>array(
                    'username'  =>'hc.web2-web2.sc@canada.ca',
                    'password'  =>'password here',
                ),
                'mx1.canada.ca'=>array(
                    "host"=>"mx1.canada.ca",
                    // type sendmail, means no default, no login/password
                    "type"=>"sendmail",
                ),
            ),
            // These are the transport to use by default if none are specified
            'default-transports'=>array(
                'default',
                'web2',
            ),
        ),
    ),
);
