
# LIVE
# GC Directory (read-only) | https://gcdirectory-gcannuaire.ssc-spc.gc.ca/gapi/v2/doc
# Admin (read/write)       | https://gcdirectory-gcannuaire.ssc-spc.gc.ca/gaapi/v2/doc

# TEST
# GC Direcotry (read-only) | https://geds20api-sage20api.itsso.gc.ca/gapi/v2/doc
# Admin (read/write)       | https://geds20api-sage20api.itsso.gc.ca/gaapi/v2/doc

# Live (Read Write)
GCDIRECTORY_API_URL=https://gcdirectory-gcannuaire.ssc-spc.gc.ca/gaapi/v2/
# Live (Read-only)
GCDIRECTORY_API_URL=https://gcdirectory-gcannuaire.ssc-spc.gc.ca/gapi/v2/
# Test (Read Write)
GCDIRECTORY_API_URL=https://geds20api-sage20api.itsso.gc.ca/gaapi/v2
# Test (Read-only)
GCDIRECTORY_API_URL=https://geds20api-sage20api.itsso.gc.ca/gapi/v2
GCDIRECTORY_USER=
GCDIRECTORY_PASSWORD=
GCDIRECTORY_SECRET_TOKEN=
GCDIRECTORY_ADMIN_KEY=
GCDIRECTORY_DEPT_ID=
