<? return array(
    'service_manager' => array(
        'services' => array(
            'gc-directory-config' => array(
                //'url'=>'https://205.193.122.83', // TEST
                //'url'=>'https://geds20api-sage20api.itsso.gc.ca', // TEST
                //'url'=>'https://api.geds.gc.ca', // LIVE
                //'url'=>'https://205.193.122.81', // LIVE
                'url'=>'https://api.geds-sage.gc.ca', // LIVE
                'username'=>'username/email',
                'password'=>'password',
                //'certificate-file'=>__DIR__.'/../../data/geds20-sage20.itsso.gc.ca.crt',
            ),
        ),
    ),
);
